<div class="row no-gutters about-container">
  <div class="column">
    <h1>What is NgResume?</h1>
    <hr />
    <p>
      NgResume is an automatic and open-source resume generator. It was born out of the frustration
      from having to meddle with document editors whenever it's time to update our resume.
      Acknowledging that there are numerous similar resume generators out there, we designed
      NgResume towards the formats typically accepted in Singapore. We also hope to make it
      open-source, so that anyone with some proficiency in programming can create a pull request and
      upload their own templates. The idea is for NgResume to eventually be a community-driven
      resume generator app!
    </p>
    <br />
    <h1>Meet the Team</h1>
    <hr />
    <a href="https://www.linkedin.com/in/gwendolin-tan-a80b0759/" target="_blank">
      <h2>Gwendolin Tan</h2>
    </a>
    <h3>Product Owner and Lead UI Designer</h3>
    <p>
      Gwendolin Tan (Gwen) is an experienced Business Analyst and Product Manager with 5+ years of
      experience in requirements analysis, solutions design, and user acceptance testing (UAT) of
      government and SaaS-based aviation solutions. She has successfully implemented time-critical
      projects and key enhancements to existing solutions by working with global cross-functional
      teams while providing production support for clients. She's a Certified Scrum Product Owner,
      Scrum Master, and Agile Team Facilitator who is also a data analytics, data visualization, and
      UI/UX enthusiast.
    </p>
    <a href="https://www.linkedin.com/in/zeyao-liu-87289259/" target="_blank">
      <h2>Zeyao Liu</h2>
    </a>
    <h3>Back-end Developer</h3>
    <p>Write-up coming soon~</p>
    <a href="https://stevanussatria.com" target="_blank">
      <h2>Stevanus Satria</h2>
    </a>
    <h3>Scrum Master and Front-end Developer</h3>
    <p>
      Stevanus (Steve) is a versatile tech and agile enthusiast. Over the last five years, he has
      assumed the roles of a product manager, full-stack developer, and to a lesser extent, UI
      designer.
    </p>
    <p>
      At the crux of it all is the desire to deliver value to users as quickly as possible. Hailing
      from a design-centric university, Steve further advanced his understanding of Agile and Scrum.
      He is now a Certified ScrumMaster, Product Owner, Agile Facilitator, and Agile Coach. He
      firmly believes in Scrum’s transformative power in enabling teams to attain and sustain
      greatness.
    </p>
    <p>
      Steve kickstarted his professional career as a front-end developer. He became comfortable
      coding in JavaScript and jQuery, before moving on to Typescript and Angular. He is familiar
      with Git for version control, and he has used both Jenkins and Travis CI for Continuous
      Integration. As he ventured into backend technologies, he went to pick up SQL and Java as
      well.
    </p>
    <p>
      Beyond the software stack, Steve is proficient in Confluence and Jira, including ScriptRunner
      to create custom filters. He is also an avid user of Figma, and he has developed several
      open-source plugins for the community.
    </p>
  </div>
</div>
