<div class="row no-gutters container">
  <div class="column center-items">
    <div class="content">
      <h1>What is NgResume?</h1>
      <hr />
      <p>
        NgResume is an automatic and open-source resume generator. It was born out of the
        frustration from having to meddle with document editors whenever it's time to update our
        resume. Acknowledging that there are numerous similar resume generators out there, we
        designed NgResume towards the formats typically accepted in Singapore. We also hope to make
        it open-source, so that anyone with some proficiency in programming can create a pull
        request and upload their own templates. The idea is for NgResume to eventually be a
        community-driven resume generator app!
      </p>
      <br />
      <h1>Meet the Team</h1>
      <hr />
      <a href="https://www.linkedin.com/in/gwendolin-tan-a80b0759/" target="_blank">
        <h2>Gwendolin Tan</h2>
      </a>
      <h3>Product Owner and Lead UI Designer</h3>
      <p>
        Gwendolin Tan (Gwen) is an experienced Business Analyst and Product Manager with 5+ years of
        experience in requirements analysis, solutions design, and user acceptance testing (UAT) of
        government and SaaS-based aviation solutions. She has successfully implemented time-critical
        projects and key enhancements to existing solutions by working with global cross-functional
        teams while providing production support for clients. She's a Certified Scrum Product Owner,
        Scrum Master, and Agile Team Facilitator who is also a data analytics, data visualization,
        and UI/UX enthusiast.
      </p>
      <a href="https://www.linkedin.com/in/zeyao-liu-87289259/" target="_blank">
        <h2>Zeyao Liu</h2>
      </a>
      <h3>Back-end Developer</h3>
      <p>
        Zeyao is a proficient Back-end Developer with more than 5 years of experience. Upon
        graduating from University, he began his career in software engineering as a Java Developer
        for Software as a Service (SaaS) products. As he progressed along his career, he went ahead
        to pick up JavaScript and Node.js, which became his go-to stack professionally. Zeyao
        realizes the importance of keeping himself up-to-date in the fast-changing software
        development field, and continues to learn new technologies and frameworks in his free time.
      </p>
      <a href="https://www.linkedin.com/in/yue-wang-966858126/" target="_blank">
        <h2>Wang Yue (Risa)</h2>
      </a>
      <h3>Full-stack Developer</h3>
      <p>
        Risa is a full-stack developer who is familiar with both Java and Angular. Upon graduating,
        she joined Amadeus as an IT Graduate and quickly became an integral part of the Singapore
        Development Team. She started her Java development journey by developing the interface of a
        SaaS product, before moving on into more core modules. Lately, she ventured into front-end
        development by picking up Angular. Risa is always looking into various ways she can hone her
        skills both during and outside of work.
      </p>
      <a href="https://stevanussatria.com" target="_blank">
        <h2>Stevanus Satria</h2>
      </a>
      <h3>Scrum Master and Front-end Developer</h3>
      <p>
        Stevanus is an agile and proactive Product Manager and Full-Stack Engineer with 4+ years of
        experience in requirements and data analysis, solution refinement, and engineering of
        Software as a Service (SaaS) products. He has successfully launched key product features,
        innovative pilots, and provided production support to global clients. Stevanus is a
        Certified ScrumMaster, Product Owner, Agile Facilitator and Agile Coach who is also
        proficient in modern software development stack, popular issue tracking tool, and
        industry-standard UI design application.
      </p>
    </div>
  </div>
</div>
