<div class="content">
  <div class="text-center py-2">
    <small>(*) denotes mandatory fields</small>
  </div>
  <form [formGroup]="resumeForm">
    <div [formGroup]="getResumeHeaderFormGroup(resumeForm)">
      <div class="group">
        <input
          class="h3 text-center"
          [ngClass]="{
            'is-invalid':
              getResumeHeaderFormGroup(resumeForm).controls['name'].invalid &&
              getResumeHeaderFormGroup(resumeForm).controls['name'].touched &&
              !getResumeHeaderFormGroup(resumeForm).controls['name'].pristine
          }"
          type="text"
          formControlName="name"
          placeholder="* Full Name"
        />
      </div>
      <div class="group">
        <input
          class="h4 text-center"
          [ngClass]="{
            'is-invalid':
              getResumeHeaderFormGroup(resumeForm).controls['subtitle'].invalid &&
              getResumeHeaderFormGroup(resumeForm).controls['subtitle'].touched &&
              !getResumeHeaderFormGroup(resumeForm).controls['subtitle'].pristine
          }"
          type="text"
          formControlName="subtitle"
          placeholder="* Titles and Credentials"
        />
      </div>
      <div class="group row no-gutters">
        <div class="col-3 px-1">
          <input
            class="text-center"
            type="text"
            formControlName="leftDetail"
            placeholder="Left-side link"
          />
        </div>
        <div class="col-3 px-1">
          <input
            class="text-center"
            [ngClass]="{
              'is-invalid':
                getResumeHeaderFormGroup(resumeForm).controls['email'].invalid &&
                getResumeHeaderFormGroup(resumeForm).controls['email'].touched &&
                !getResumeHeaderFormGroup(resumeForm).controls['email'].pristine
            }"
            type="text"
            formControlName="email"
            placeholder="* Email address"
          />
        </div>
        <div class="col-3 px-1">
          <input
            class="text-center"
            [ngClass]="{
              'is-invalid':
                getResumeHeaderFormGroup(resumeForm).controls['phone'].invalid &&
                getResumeHeaderFormGroup(resumeForm).controls['phone'].touched &&
                !getResumeHeaderFormGroup(resumeForm).controls['phone'].pristine
            }"
            type="text"
            formControlName="phone"
            placeholder="* Phone number"
          />
        </div>
        <div class="col-3 px-1">
          <input
            class="text-center"
            type="text"
            formControlName="rightDetail"
            placeholder="Right-side link"
          />
        </div>
      </div>
    </div>
    <div class="group">
      <p class="h4">Personal Profile</p>
      <textarea
        [ngClass]="{
          'is-invalid':
            resumeForm.controls['profile'].invalid &&
            resumeForm.controls['profile'].touched &&
            !resumeForm.controls['profile'].pristine
        }"
        formControlName="profile"
        placeholder="* Tell us more about yourself..."
      ></textarea>
    </div>
    <div class="group">
      <p class="h4">Core Competencies</p>
      <ng-select
        [multiple]="true"
        [addTag]="true"
        [isOpen]="false"
        [selectOnTab]="true"
        [ngClass]="{
          'is-invalid':
            resumeForm.controls['competencies'].invalid &&
            resumeForm.controls['competencies'].touched &&
            !resumeForm.controls['competencies'].pristine
        }"
        formControlName="competencies"
        placeholder="* Type your competencies and press enter"
      >
      </ng-select>
    </div>
    <div class="group" formArrayName="work">
      <p class="h4">Work Experience</p>
      <div
        class="sub-group"
        [ngClass]="{ 'is-invalid': work.invalid && work.touched && !work.pristine }"
        *ngFor="let work of getResumeWorkFormArrayControls(resumeForm); let i = index"
      >
        <button
          class="btn-remove delete-work"
          *ngIf="i > 0"
          (click)="removeWorkFromFormArrayByIndex(resumeForm, i)"
        >
          <span>×</span>
        </button>
        <div [formGroupName]="i">
          <div class="row no-gutters">
            <div class="col-6 px-1">
              <input
                type="text"
                formControlName="company"
                [placeholder]="i < 1 ? '* Company name' : 'Company name'"
              />
            </div>
            <div class="col-6 px-1">
              <input
                type="text"
                formControlName="location"
                [placeholder]="i < 1 ? '* Location' : 'Location'"
              />
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-6 px-1" formArrayName="designations">
              <div
                *ngFor="
                  let designations of getWorkDesignationFormArrayControls(work);
                  let j = index
                "
              >
                <input
                  type="text"
                  [formControlName]="j"
                  [placeholder]="i < 1 ? '* Designation' : 'Designation'"
                />
              </div>
            </div>
            <div class="col-6" formArrayName="periods">
              <div *ngFor="let period of getWorkPeriodsFormArrayControls(work); let k = index">
                <div [formGroupName]="k">
                  <div class="row no-gutters">
                    <div class="col-6 px-1">
                      <input
                        type="text"
                        formControlName="start"
                        [placeholder]="i < 1 ? '* From' : 'From'"
                      />
                    </div>
                    <div class="col-6 px-1">
                      <input
                        type="text"
                        formControlName="end"
                        [placeholder]="i < 1 ? '* To' : 'To'"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div formArrayName="descriptions">
            <div
              class="row no-gutters px-1"
              *ngFor="let description of getWorkDescriptionsFormArrayControls(work); let l = index"
            >
              <div class="col">
                <input
                  type="text"
                  [formControlName]="l"
                  [placeholder]="i < 1 && l < 1 ? '* Description' : 'Description'"
                />
              </div>
              <div class="col-1" style="max-width: 20px">
                <button
                  class="btn-remove delete-description"
                  *ngIf="l > 0"
                  (click)="removeWorkDescriptionFromFormArray(work, l)"
                >
                  <span>×</span>
                </button>
              </div>
            </div>
            <div class="mt-2 text-center">
              <button
                class="btn secondary add-description"
                (click)="addWorkDescriptionToFormArray(work)"
              >
                <span>+ Description</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn secondary add-work" (click)="addWorkToFormArray(resumeForm)">
          <span>+ Work Experience</span>
        </button>
      </div>
    </div>
    <div class="group" formArrayName="education">
      <p class="h4">Education</p>
      <div
        class="sub-group"
        [ngClass]="{ 'is-invalid': education.invalid && education.touched && !education.pristine }"
        *ngFor="let education of getResumeEducationFormArrayControls(resumeForm); let i = index"
      >
        <button
          class="btn-remove delete-education"
          *ngIf="i > 0"
          (click)="removeEducationFromFormArrayByIndex(resumeForm, i)"
        >
          <span>×</span>
        </button>
        <div [formGroupName]="i">
          <div class="row no-gutters">
            <div class="col-6 px-1">
              <input
                type="text"
                formControlName="institution"
                [placeholder]="i < 1 ? '* Institution name' : 'Institution name'"
              />
            </div>
            <div class="col-6">
              <div formGroupName="period">
                <div class="row no-gutters">
                  <div class="col-6 px-1">
                    <input
                      type="text"
                      formControlName="start"
                      [placeholder]="i < 1 ? '* From' : 'From'"
                    />
                  </div>
                  <div class="col-6 px-1">
                    <input
                      type="text"
                      formControlName="end"
                      [placeholder]="i < 1 ? '* To' : 'To'"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-6 px-1" formArrayName="qualification">
              <div
                class="row no-gutters"
                *ngFor="
                  let qualification of getEducationQualificationFormArrayControls(education);
                  let j = index
                "
              >
                <input
                  type="text"
                  [formControlName]="j"
                  [placeholder]="i < 1 ? '* Qualification' : 'Qualification'"
                />
              </div>
            </div>
            <div class="col-6 px-1">
              <input
                type="text"
                formControlName="honorsAndGrade"
                [placeholder]="i < 1 ? '* Honors and grade' : 'Honors and grade'"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn secondary add-education" (click)="addEducationToFormArray(resumeForm)">
          <span>+ Education</span>
        </button>
      </div>
    </div>
    <div class="group" formArrayName="awardsAndCertifications">
      <p class="h4">Awards and Certifications</p>
      <div
        class="sub-group"
        [ngClass]="{
          'is-invalid':
            awardOrCertification.invalid &&
            awardOrCertification.touched &&
            !awardOrCertification.pristine
        }"
        *ngFor="
          let awardOrCertification of getResumeAwardsAndCertificationsFormArrayControls(resumeForm);
          let i = index
        "
      >
        <button
          class="btn-remove delete-award-certification"
          *ngIf="i > 0"
          (click)="removeAwardsAndCertificationsFromFormArrayByIndex(resumeForm, i)"
        >
          <span>×</span>
        </button>
        <div [formGroupName]="i">
          <div class="row no-gutters">
            <div class="col-9 px-1">
              <input
                type="text"
                formControlName="name"
                [placeholder]="
                  i < 1 ? '* Award or certification name' : 'Award or certification name'
                "
              />
            </div>
            <div class="col-3 px-1">
              <input
                type="text"
                formControlName="acquiredDate"
                [placeholder]="i < 1 ? '* Acquired date' : 'Acquired date'"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          class="btn secondary add-award-certification"
          (click)="addAwardsAndCertificationsToFormArray(resumeForm)"
        >
          <span>+ Award or Certification</span>
        </button>
      </div>
    </div>
  </form>
</div>
