div {
  &.group {
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
  }
  &.sub-group {
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

input,
textarea,
ng-select {
  width: 100%;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  &:focus {
    outline: none;
    border-bottom: 1px solid #007bff;
  }
}

textarea {
  height: 8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

ng-select {
  ::ng-deep {
    span.ng-arrow-wrapper {
      display: none;
    }
  }
  &.is-invalid {
    ::ng-deep {
      .ng-select-container {
        border-color: #dc3545 !important;
        .ng-placeholder {
          color: #dc3545 !important;
        }
      }
    }
  }
}

button {
  &.btn-remove {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: none;
    span {
      color: #808080;
    }
    &:hover {
      span {
        color: #dc3545;
      }
    }
  }
}

.is-invalid {
  color: #dc3545 !important;
  border-color: #dc3545 !important;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e04958 !important;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #e04958 !important;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #e04958 !important;
  }
}
