.file-zone {
  width: 100%;
  height: 400px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #ccc;
  border-radius: 20px;

  &.file-over img {
    animation: hovered 0.2s;
    animation-fill-mode: forwards;
  }

  input[type='file'] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    .error {
      color: #c62828;
    }
  }

  img {
    width: 100%;
    height: 200px;
  }
}

@keyframes hovered {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(10px, -10px) rotate(10deg);
  }
}
